/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
============================================================
*/

/* Font styles */

@font-face {
    font-family: heading;
    src: url('fonts/Audrey-Normal.otf');
}

@font-face {
    font-family: bodytext;
    src: url('fonts/Domine-Regular.ttf');
}

@font-face {
    font-family: name;
    src: url('fonts/Great-Day-Bold.ttf');
}

/* Links */

a {
    color: #D46A6A;
}

a:hover {
    color: #AA3939;
}

#name a {
    color: #AA3939;
}

header a {
    color: darkgrey;
    text-decoration: none;
}

/* Header */

header {
    font-family: heading;
    text-align: center;
}

.topcontainer {
    position: fixed;
    width: 100%;
    height: 150px;
    z-index: 10;
    background-color: white;
}


#name {
    font-family: name;
    font-size: 45px;
    padding-top: 30px;
    padding-bottom: 15px;
}

nav li {
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    margin: 1.5%;
}

.currentpage {
   color: darkslategray;
}


/* Body */

.bodycontainer {
    width: 100%;
    padding-top: 150px;
    z-index: 5;
    overflow: auto;
}


p {
    color: darkslategrey;
    font-family: bodytext;
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

p a {
    text-decoration: none;
}

p.heading {
    color: #AA3939;
    font-size: 24px;
    margin-top: 2%; 
    margin-bottom: 1%;
}

p.sub-heading {
    color: black;
    font-family: heading;
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 2px;
}

i {
    font-style: italic;
}

hr {
    width: 60%;
    margin: 40px auto 50px;
}


/* Footer */


.contact-buttons {
    display: inline;
    float: left;
    margin-left: 19.75%;
    margin-top: 35px;
    margin-bottom: 100px;
}

.contact-buttons li {
    display: inline-block;
    margin: 0 2px;
}

#copyright {
    display: inline;
    float: right;
    width: auto;
    font-size: 12px;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 100px;
}

.contact-buttons:hover > li {
    opacity: 0.5;
}

.contact-buttons:hover > li:hover {
    opacity: 1.0;
}


/* Page-specific */

#headshot {
    margin-right: 20%;
    float: right;
    padding: 30px; 
    padding-bottom: 0px;
   
}

.logos {
    width: 60%;
    margin-right: auto;
    margin-left: auto;

}

.logos li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 23px;
}

.logos img {
    height: 120px;
    
}

/* Image Grid */

.container {
    margin: 0 auto;
    max-width: 1130px;
    padding: 0 1rem;
    padding-top: 150px;
    z-index: 5;
    overflow: auto;
}

.responsive-image {
    max-width: 100%;
}

.cell img {
    display: block;
}

@media screen and (min-width: 600px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .cell {
        width: calc(50% - 1.2rem);
    }
}

@media screen and (min-width: 1000px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .cell {
        width: calc((100% / 3) - 1.2rem);
    }
}

.cell {
    margin: 0.6rem;
}























